body{
    background-color: #E6E6E6;
    color:white;
}
.resume{
    width: 57%;
    margin:auto;
    padding: 1%;
    background-color: rgb(201, 226, 163);
    border-width: 2px;
    border-color: aqua;
    box-shadow: 5px 5px #e2e1e1;
}
hr{
    border-width: 3px;
    border-color: white;
}

p{
    margin-top: 0;
}
h4{
    margin-top: 0;
    margin-bottom: 0;
}